
html,body{
    max-width: 100%;
    font-family: 'Mulish';
    }

.productos-carrito a{text-decoration: none; color: #333; }
.contenedor-carrito{
display: flex;
flex-wrap: wrap;
flex-direction: column;
justify-content:space-between;
padding: 30px;
position: relative;
background-color: #fff;
width: 600px;
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
border-radius: 10px;
align-items: center;
padding:auto;
align-items: center;
left:100px
}
         
.productos-carrito{
display: flex;
align-items: center;
padding: 15px;
justify-content: space-between;
border-bottom: 1px solid rgba(0, 0, 0, 0.20);
width: max-content;

}
 
.info-productos-carrito{
display: flex;
justify-content: space-between;
flex: 0.8;
padding: 18px;
gap:15px;
width: 500px;
}      

.titulo-producto-carrito{
font-size: 20px;
}

.img-producto-carrito{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.precio-producto-carrito,.subtotal-producto-carrito{
font-weight: 700;
font-size: 20px;
margin-left: 10px;
}
 
.cantidad-producto-carrito{
font-weight: 400;
font-size: 20px;
}
.carrito-botones a {
    color:#FF4E00;
    font-size: x-large;
}

.carrito-botones {
    flex-direction: row;   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 50px;
    
}
.completar-compra a{
    text-decoration: none;
  }
  .completar-compra  {
   
    font-size: x-large;
    background-color: #FF4E00;
    color: white;
  
    padding: 10px;
  }
  
.carrito-total,.carrito-pagar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
    flex-direction:column;
 }

.carrito-total{    
    text-decoration: none; 
    font-size: x-large;
    flex-direction: row;
}
.carrito-total h3{
font-size: 30px;
font-weight: 700;
}
         
.total-pagar{
font-size: xx-large;
font-weight: 900;
}

@media screen and (max-width: 480px){
    .contenedor-carrito{
        display:block;
        justify-content: stretch;
        width: 300px;
        margin: auto;
        left: 10px;
    }
    .productos-carrito{
        display: b;
        align-items: center;
        padding: 2px;
        justify-content:stretch;
        border-bottom: 1px solid rgba(0, 0, 0, 0.20);
        width: 300px;

        }
    .info-productos-carrito{
        display: flex;
        align-items: center;
        padding: 2px;
        justify-content:stretch;
    }
    .carrito-botones {
        flex-direction: row;   
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        gap: 10px;}
    .container{
        display: block;
    }
    .item{
        height: 200px;
        margin-bottom: 10px;
    }
}



