.contenedor-carrito table, th, td {
    border-collapse: collapse;
  
  }
.contenedor-carrito th,td{
      padding: 15px;
      border-bottom: 1px solid black;
  }

.contenedor-carrito th  {
    color: #FF4E00;
    font-weight: 700;
    font-size: 20px; 
}
.carrito-botones {
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 50px;
    color:#FF4E00;
    font-size: xx-large;
    text-decoration: none;
    text-align: center;
}
.contenedor-carrito h2, h3{
    font-size: 30px;
    text-align: justify;
}

.contenedor-carrito{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content:space-between;
    padding: 30px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    align-items: center;
    padding:auto;
    margin: 0 auto;
    width: 100%;
}
.paypal{
  margin:0 auto;
  width: 100%;
  text-align: justify;
  padding-left: 20%;
}           
.content-table{
width: 100%;
}
.total-pagar h3{text-align: center;  font-weight: bold;}
.total-pagar{    border-bottom: none;}
.carrito-botones a:hover,
.carrito-botones a:active,
.carrito-botones a:visited{  color:white;
  text-decoration: none;}

/*
@media screen and (min-width:320px) 

{
  .contenedor-carrito{
  width: 80%;  
  }
  .content-table{
    width: 80%;
    }
    table, thead, tbody, th, td, tr {
			display: block;
		}
	
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
		td {
		
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
            text-align: center;
		}

		td:before {
	
			position: absolute;
	
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}
    .paypal{
      margin:0 ;
      align-items: center;
      width: 45%;
    }    
  }

/*
  {
	    .contenedor-carrito{
        display:block;
        justify-content: stretch;
        width: 80%;
        margin: auto;
        left: 10px;
    }
		table, thead, tbody, th, td, tr {
			display: block;
		}
	
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
		td {
		
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
            text-align: center;
		}

		td:before {
	
			position: absolute;
	
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}
  }
  @media screen and (min-width:480px) 
  {
	    .contenedor-carrito{
        display:block;
        justify-content: stretch;
        width: 80%;
        margin: auto;
        left: 10px;
    }
		table, thead, tbody, th, td, tr {
			display: block;
		}
	
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}

    tr {
      margin: 0 0 1rem 0;
    }
      
		td {
		
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
            text-align: center;
		}

		td:before {
			position: absolute;
	  	top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}
  }
/*Estilos para tablet*/
