* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*BOTONES*/
.container-botonera{  
  display: flex;
  width: fit-content;
  margin:0 10px 0 0;
  text-align: center;
  font-size: x-large;
  margin: 10px 0;
  color: white;
  background-color: #454546;
}

.container-botonera a:active,.container-botonera a:visited{
  color: white;
  background-color: #454546;
}
.container-botonera a:hover{
  background: #454546;
  color:white;
  cursor: pointer;
}

.contenedor,.listado-tabla{
margin: 0 auto;
overflow: hidden;
width: 100%;
}

/*FORMULARIOS*/
a.link_accion {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  }  
a.link_accion:focus {
  outline: none !important;
  } 
a.link_accion:hover {
  text-decoration: none;
  }
  .cont_formulario-btn a:hover, .cont_formulario-btn a:visited{
      color: #fff;
      background-color: var(--fondosecundario);
  }
.contenido {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: relative;
    z-index: 1;
}

.contenido::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

select,
input {
    outline: none;
    border: none;
}
select,
input:focus {
    border-color: transparent !important;
}
select,
input.input100 {
    height: 62px;
    padding: 0 20px 0 23px;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}
.cont_formulario {
    width: 800px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 72px 150px 25px 150px;
 }
.contact100-form {
    width: 100%;
}   
.cont_formulario-title {
    display: block;
    font-size: 30px;
    color: #333333;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 34px;
}
.input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-size: 16px;
    color: #4b2354;
    line-height: 1.2;
}
.focus-input100 {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    border-radius: 20px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    box-shadow: 0 5px 20px 0px rgba(9, 135, 185, 0.205);
    -moz-box-shadow: 0 5px 20px 0px rgba(9, 135, 185, 0.205);
    -webkit-box-shadow: 0 5px 20px 0px rgba(9, 135, 185, 0.205);
    -o-box-shadow: 0 5px 20px 0px rgba(9, 135, 185, 0.205);
    -ms-box-shadow: 0 5px 20px 0px rgba(9, 135, 185, 0.205);
}
.contenido-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 43px;
}
.cont_formulario-btn, .cont_formulario-btn a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    background-color: #333;
    border-radius: 21px;
    margin-left: 20px;
    font-size: 14px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    padding-top: 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.validate-input {
    position: relative;
}
.alert-validate::before {
    content: attr(data-validate);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height: 62px;
    background-color: #fff;
    border-radius: 20px;
    top: 0px;
    left: 0px;
    padding: 0 45px 0 22px;
    pointer-events: none;


    font-size: 16px;
    color: #fa4251;
    line-height: 1.2;
}
.btn-hide-validate {
 
    font-size: 15px;
    color: #fa4251;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 62px;
    top: 0px;
    right: 28px;
}

.rs1-alert-validate.alert-validate::before {
    background-color: #fff;
}
.true-validate::after {
    content: "\f269";

    font-size: 15px;
    color: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 62px;
    top: 0px;
    right: 28px;
}


.contact100-more {

    font-size: 16px;
    color: #999999;
    line-height: 1.5;
    text-align: center;
}

.contact100-more-highlight {
    color: var(--fondosecundario);
}


/*TABLA*/
.container-tabla{
    width: 80%;
    margin: 0 auto;

}
.container-tabla table,
.container-tabla th, 
.container-tabla td {
    border-collapse: collapse;
  padding: 1%;
  text-align: center;
  }

.container-tabla th{
    background-color:#454546;
    color: white;

    font-size: 3vh; 
    text-align: center;
  }
.container-tabla th,
.container-tabla td{
        border-bottom: 1px solid #454546 ;

  }


.content-table{
    width: 100%;
    
    }
div.table {
        display: none;
    }
    @media screen and (max-width: 700px) {
 div.container-tabla{display: none;}
        div.table {
            display: block;
            width: 100%;
        }
     
        div.item {
            margin-bottom: 10px;
        }
     
        div.row {
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: row;
        }
        div.thead {
        border: 1px solid #ccc;
        padding: 5px;
        text-align: left;
        width: 40%;
        }
        div.tbody {
            border: 1px solid #ccc;
            padding: 5px;
            text-align: left;
            width: 60%;
        }
     
        div.thead {
            background-color: #eee;
        }
    }