* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*BOTONES*/

.container-botonera{
    padding: 2%;
    margin: 0 auto;
}
.container-botonera a{
    background-color: #454546;
    color: white;
    border-radius: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
    align-items: center;
    text-decoration: none;
}

.container-botonera a:active,.container-botonera a:visited{
  color: white;
  background-color: #454546;
}
.container-botonera a:hover{
  background: #454546;
  color:white;
  cursor: pointer;
}

.contenedor,.listado-tabla{
margin: 0 auto;
overflow: hidden;
width: 100%;
}


/*TABLA*/
.container-tabla{
    width: 80%;
    margin: 0 auto;

}
.container-tabla table,
.container-tabla th, 
.container-tabla td {
    border-collapse: collapse;
  padding: 1%;
  text-align: center;
  }

.container-tabla th{
    background-color:#454546;
    color: white;

    font-size: 3vh; 
    text-align: center;
  }
.container-tabla th,
.container-tabla td{
        border-bottom: 1px solid #454546 ;

  }


.content-table{
    width: 100%;
    
    }
div.table {
        display: none;
    }
    @media screen and (max-width: 700px) {
 div.container-tabla{display: none;}
        div.table {
            display: block;
            width: 100%;
        }
     
        div.item {
            margin-bottom: 10px;
        }
     
        div.row {
            display: flex;
            justify-content: start;
            align-items: center;
            flex-direction: row;
        }
        div.thead {
        border: 1px solid #ccc;
        padding: 5px;
        text-align: left;
        width: 40%;
        }
        div.tbody {
            border: 1px solid #ccc;
            padding: 5px;
            text-align: left;
            width: 60%;
        }
     
        div.thead {
            background-color: #eee;
        }
    }
/*FORMULARIOS*/

