@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@font-face {  font-family: "Inconsolata";  src: url(../fonts/inconsolata.ttf);}
@font-face {  font-family: "Poppins";  src: url(../fonts/Poppins-Bold.ttf);}

:root{   --resalte:color #FF4E00; }
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata";
}
/*#ff9b00, #48433c, #ebe9e7, #c2bdb6, #379bb5*/
html{margin:0 auto;}
body {
  font-family: "Inconsolata";
  overflow: hidden;
}
img {
  display: block;
  width: 100%;
}
.main-header {
  padding: 0 20px;
}
.main-header__title{
  text-align: center;
  font-size: 2.5em;
  margin: 10px 0;
  color: #454546;
  font-family: "Poppins";
}
.main-header__container{
  display: flex;
  justify-content: space-around;
  font-size: 1.15em;
}



  @media screen and (min-width:320px) 
{
  .main-header__input {width:100px}
}


.main-header__link {
  color: #333;
  padding: 15px;
}
.main-header__link:hover {
  color: white;
  background-color: #333;
}

.main-header__txt{
  font-size: 16px;
}
.container{
  min-height: 00px;
}
.nosotros{
  text-align: left;
}
/*Estilos formulario contacto*/
.contact_form{	
  overflow: hidden;
	width: 100%; 
  height: auto;
  margin: auto;
	border-radius: 10px;  	
	background-color: #fbfbfb; 
  padding:auto;
  text-align: center;
  align-items: center;
  background: #F7F7F7;
}

.input_form{
	background-color: #fbfbfb; 
	width: 60%; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #333; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  margin: 0 auto;
}
.textarea_form{
  background-color: #fbfbfb; 
	width: 70%; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #333; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
  margin: 0 auto;
  resize: none;
}
label{
  display: block; 
	float: center; 	
}
.button_formulario{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #333; 
	border-color: #333; 
	border-style: solid; 
	border-radius: 10px;	
	width: 60%;   
  cursor: pointer;
 line-height: 45px;
}
.button_formulario p{
	color: #fff; 
}
span{
	color: #333; 
}
.aviso{
	font-size: 13px;  
	color: #0e0e0e;  
}

.container__testimonials h1{ text-align: left;}

h1{
	font-size: 6vh;  
	text-align: left; 
	padding-bottom: 20px; 
	color: #333;
}


h3{
	font-size: 3vh; 
	padding-bottom: 30px;
	color: #0e0e0e;   
}


p{
	font-size: 14px; 
	color: #0e0e0e; 
}
::-webkit-input-placeholder {
 color: #a8a8a8;
}
::-webkit-textarea-placeholder {
 color: #a8a8a8;
}
.formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
}
.formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
}
/* Estilos del Menu */
.main-nav {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  
}
.menu{
  position: absolute;
  top: 80px;
  left: 0;
  background: #212121;
  width: 100%;
  list-style: none;
  padding: 0px;
}
.menu__item {
  text-align: center;
  margin: auto;
}
.menu__link {
  font-family: "Inconsolata";
  padding: 6px;
  color: white;
  text-decoration: none;
  position: relative;
  display: block;
  z-index: 5;
}
.menu__link:hover {
  background: white;
  color: #212121;
}

.mostrar{
  opacity: 1;
  visibility: visible;
}

.icon-menu{
  font-size: 1.5em;
  border: 1px solid #454546; 
  display: block;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: auto;
}
.main-header__btn{
  display: block;
  padding: 10px 30px;
  color: #454546;
  border: 1px solid #454546;
  text-decoration: none;
}

.main-header__btn:hover{
  color: white;
  background-color: #333;
}
.container{
margin: 0 auto;
margin-top: 15px;}
.main {
  margin: 0 auto;
  margin-top: 15px;
}
.cantidadCarrito{
  background-color: #333;
  color: white;
  text-align: center;
  font-size: larger;
}
/* ESTILOS DE SLIDER */
h1 {
  text-align: center;
}
#carrusel-caja {
  -moz-animation: automatizacion 15s infinite linear;
  -o-animation: automatizacion 15s infinite linear;
  -webkit-animation: automatizacion 15s infinite linear;
  animation: automatizacion 15s infinite linear;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
  height: 500px;
  width: 300%;
}
#carrusel-contenido {
  margin: 0 auto;
  overflow: hidden;
  text-align: left;
}
.imagenes{
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.carrusel-elemento {
  float: left;
  width: 33.333%;
}
@-moz-keyframes automatizacion {
  0% {
      margin-left: 0;
  }
  30% {
      margin-left: 0;
  }
  35% {
      margin-left: -100%;
  }
  65% {
      margin-left: -100%;
  }
  70% {
      margin-left: -200%;
  }
  95% {
      margin-left: -200%;
  }
  100% {
      margin-left: 0;
  }
}
@-webkit-keyframes automatizacion {
  0% {
      margin-left: 0;
  }
  30% {
      margin-left: 0;
  }
  35% {
      margin-left: -100%;
  }
  65% {
      margin-left: -100%;
  }
  70% {
      margin-left: -200%;
  }
  95% {
      margin-left: -200%;
  }
  100% {
      margin-left: 0;
  }
}
@keyframes automatizacion {
  0% {
      margin-left: 0;
  }
  30% {
      margin-left: 0;
  }
  35% {
      margin-left: -100%;
  }
  65% {
      margin-left: -100%;
  }
  70% {
      margin-left: -200%;
  }
  95% {
      margin-left: -200%;
  }
  100% {
      margin-left: 0;
  }
}

/* ESTILOS DE PRODUCTOS */
.container-products {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  z-index: -2;
}
.product {
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  position: relative;
  

}
.product:before {
  content: "New";
  background: #FF4E00;
  padding: 10px;
  width: 60px;
  position: absolute;
  top: 20px;
  right: 10px;
  transform: rotate(-90deg);
  color: white;
}

.product__img{
  width: 80%;
  height: 120px;
  object-fit: cover;
}
.product__title{
  text-align: center;
}
.product__price {
  color: #FF4E00;
  font-weight: bold;
}

.product a, a:hover,a:visited,a:active{
text-decoration: none;
}

.container__testimonials{
  text-align: center;
  background: #F7F7F7;
  padding: 20px;
  margin: 0 auto;
  margin-top: 10px; 
}
.testimonial__txt{
  color: #212121;
}
.container-editor{
  margin-top: 20px;
}

.editor__item{
  height: 200px;
  position: relative;
  overflow: hidden;
}
.editor__img  {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.editor__circle{
  width: 200px;
  height: 200px;
  border: 2px solid white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -200px;
  right: -150px;
  color: white;
  padding: 20px;
  padding-bottom: 70px;
  padding-right: 50px;
  font-size: 1.1em;
  text-align: center;
  font-weight: bold;
  transition: all 0.5s;
}
.editor__item:hover .editor__circle{
  transform: scale(1.2);
  bottom: -90px;
  right: -50px;
}
.editor__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.2);
  opacity: 0;
  transition: all 0.5s;
}
.editor__item:hover:before {
  opacity: 1;
}
.container-tips{
  margin: 20px 0;
  text-align: center;
}
.tip i{
  font-size: 2em;
  color: #333;
  padding: 20px 0;
}
.tip .btn-shop {
  color: #333;
}
.btn-shop:hover {
  color: white;
}

/*Estilos tienda*/
.centering {  
  border-left-style: solid;   
  border-left-width: 0px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; 

}
.articles {    
  top: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 1200px;
  gap: 24px;

}

.articles article {
  max-width: 320px;
  cursor: pointer;
  position: relative;
  display: block;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  border-radius: 16px; 
  text-align: center;
  border: 1px solid #333;
  z-index: 0;
 }

.articles article a { 
  display: inline-flex;
  text-decoration: none;
}

.articles article h2 { 
  margin: 0 0 18px 0;
  font-size: 1.6rem; 
  transition: color 0.3s ease-out;
}

.articles article img { 
  max-width: 100%;
  
}

.article-preview {
  padding: 24px;
}

.articles figure {
  width: 100%;
  height: 200px;
  overflow: hidden; 
}

.articles figure img {
  height: 100%;
  overflow: hidden;
  object-fit:fill;
}

.agregar{ color:#333}
.agregar:hover{background-color: #333; color: white;}
.agregar:visited,.agregar:active{color:#333}


/*Barra redes sociales */
.sticky-container{
  display: block;
  width: fit-content;
  text-align: center;
  
}
.sticky li{
  list-style-type:none;
  height:57px;
  padding:0;
 
  -webkit-transition:all 0.25s ease-in-out;
  -moz-transition:all 0.25s ease-in-out;
  -o-transition:all 0.25s ease-in-out;
  transition:all 0.25s ease-in-out;
  cursor:pointer;
  color:white;
  font-size: x-large;
  
  display: inline;
}
.sticky li:hover{
  margin-right:5px;
}

.sticky li .icon-facebook {background:#3b5998; padding: 5px;} /* Establecemos los colores de cada red social, aprovechando su class */
.sticky li .icon-twitter {background: #00abf0;padding: 5px;}
.sticky li .icon-pinterest {background: #ae181f;padding: 5px;}
.sticky li .icon-instagram {background:#E4405F ;padding: 5px;}
  
/*ESTILOS POP UP*/
.modal_btn{ 
  background-color: #FF4E00;
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
} 

.modal_btn a:hover{text-decoration: none;}
.modal_btn a:active{text-decoration:none;  background-color: #FF4E00;
  color: white;}
.modal_btn a:visited{text-decoration: none;}

.btn-news{
  background-color: #FF4E00;
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  align-items: c;
}
.btn-login{
  color:#333;
  padding: 10px;
  display: inline-block;
  border: none;
  cursor: pointer;
}
.btn-abrir{
  color:#333;
  padding: 10px;
  display: inline-block;
  border: none;
  cursor: pointer;
}
.btn-abrir:hover{
  background-color:#333;
  color: white;
  padding: 10px;
  display: inline-block;
  border: none;
  cursor: pointer;
}
.pop-up{
  background: rgba(48, 48, 48, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*visibility: hidden;*/
  display: none;
  
}

.pop-up-wrap{
  display: flex;
  align-items: center;
  transform: scale(0.6);
  opacity: 0;
  width: 90%;
  max-width: 950px;
  transition: .3s ease all;
  padding: 50px 50px;
}
.modal_carrito, .modal_news, .modal_login{
  display: none;
}
.mensaje_añadir,.mensaje_eliminar{
  display: none;
}

.subcription::before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);

}
.subcription{
background-color: #fff;
  flex-basis: 0;
  flex-grow: 2;
  min-height: fit-content;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  text-align: center;
  top:50%;

}
.modal_news__input{width: auto;}
.sub-content{
  width: 100%;
  gap:50px;
}

#close{
  position: absolute;
  top: 40px;
  right: 25px;
  font-size: 25px;
  color: #1bc59b;
  cursor: pointer;
}

.pop-up.show{
  /*visibility: visible;*/
  display: block;
}

.pop-up-wrap.show{
  transform: scale(1);
  opacity: 1;
  display: block;
  margin:0 auto;
  position: absolute;
  left: 50%;
  top: 50%;  
  transform: translate(-50%, -50%);
}

.mensaje_añadir.show, .mensaje_eliminar.show{
  align-items: center;
  background-color: lightgreen;
  display: block;
  text-align: center;
  justify-content: center;
  padding: 5px;
  width: fit-content;
  border: #1bc59b 2px dotted;
  z-index: 99999;
}

.modal_carrito.show, 
.modal_news.show,
.modal_login.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: space-around;
  margin: 0 auto;
  width: 80%;
  padding-block-start: 50px;
  padding-block-end: 50px;
  z-index: 99999;
  top:500px;
}

.modal-title::after{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100px;
}

.modal-title::before{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);

}





@media screen and (min-width: 320px){
  .sub-content h2{
    font-size: 30px;
}
.sub-content{
  display: block;
  min-width: 304px;}

  .centering{margin: auto;}
  .main {
    padding: 0;
    margin:0 auto;
    margin-top: 30px;
  }
  .container{
    min-width: 320px;
    margin: auto;
  }
  .main-header__input{
     margin-top: 0;
    }
  .contact_form{width: 50%;	}
  .input_form{width: 50%;}
  .button_formulario{width: 50%;}
.modal_btn h1{font-size: -1em;}

}
  @media screen and (min-width:480px) {
    .centering{margin: auto;}
  .main {
    padding: 0;
    margin:auto;
    margin-top: 30px;
  }
  
  .container{
    width: 320px;
    margin: auto;
  }
  .contact_form{width: 50%;	}
  .input_form{width: 50%;}
  .button_formulario{width: 50%;}
  }
/*Estilos para tablet*/
@media screen and (min-width:768px) {
  .container{
    width: 500px;
    margin: auto;
  }
  .slider{
    height: 400px;
  }
  .editor__item{
    height: 250px;
  }
  .container-tips{
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/*Estilos para web*/

@media screen and (min-width:1024px) { 
  .container{
    width: 1000px;
    margin: auto;
  }
  .icon-menu {
    display: none;
  }
  .main-header .container--flex{
    display: flex;
    align-items: center;
  }
  .main-header__container{
    flex-wrap: wrap;
    align-content: flex-start;
    
  }
  .main-header__txt{
    width: 100%;
  }
  .main-header__container:nth-child(2){
    order: -1;
    width: 25%;
  }
  .main-header__container:nth-child(3){
    width: 25%;
    padding: 0 20px;
  }
  .main-header__title {
    width: 100%;
    font-size: 4em;
    margin: 0;
    border-bottom: 1px solid #ccc;
  }
  .main-header__link {
    margin-bottom: 20px;
  }
  .main-header__btn{
    width: 130px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .main-header__input{
    width: 85%;
    background-color: white;
  }
  .main-nav{
    visibility: visible;
    opacity: 1;
    width: 100%;
    margin-top: 20px;
  }
  .menu {
    position: static;
    width: 100%;
    display: flex;
    background: none;
    z-index: 2;
  }
  .menu__link{
    color: #333;
  }
  .menu__link:hover{
    background: #333;
    color: white;
  }
  .container-products {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
  .product__img {
    height: 150px;
  }
  .container__testimonials{
    font-size: 1.3em; 
  }
  .container-editor{
    display: flex;
    justify-content: space-between;
  }
  .editor__item{
    width: 48%;
  }
}

@media screen and (min-width:1280px) { 
  .container{
    width: 1200px;
  }
  .main-header__container:nth-child(3){
    padding-left: 60px;
  }
  .main-header__container:nth-child(2){
    font-size: 1em;
  }
  .slider{
    height: 500px;
    font-size: 1.5em;
  }
}

@media screen and (min-width:1600px) { 
  .container{
    width: 1500px;
  }
  .main-header__container:nth-child(3){
    padding-left: 150px;
  }
  .main-header__container:nth-child(2){
    font-size: 1.5em;
  }
  .slider{
    height: 600px;
  }
  .product__img {
    height: 200px;
  }
}
