
/* latin */
@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/inconsolata/v32/QldgNThLqRwH-OJ1UHjlKENVzkWGVkL3GZQmAwLYxYWI2qfdm7Lpp4U8WR32lw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


:root{   --resalte:color #FF4E00; }
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata";
}
/*#ff9b00, #48433c, #ebe9e7, #c2bdb6, #379bb5*/
html,
body {
font-family: "Inconsolata";
width: 100%;

}
.container-general{
margin-left:5%;
margin-right: 5%;
margin-top: 2%;
margin-bottom: 2%;
}
img {  
width: 100%;
}
.main-header {
 width: 100%;
}
.main-header__title{
  text-align: center;
  font-size: 2.5em;
  margin: 10px 0;
  color: #454546;
  
}
.main-title{
  padding-bottom: 5vh;
 
}
.main-header__container{
  display: flex;
  justify-content: center;
  font-size: 1.15em;
  
}
.logo{
  object-fit: cover;
  flex: 1;
  max-width: 50%;
 
}

.main-header__link {
  color: #333;
  padding: 15px;
}
.main-header__link:hover {
  color: white;
  background-color: #333;
}


.main-header__txt{
  font-size: 16px;
}
.container{
  min-height: 00px;
}
.nosotros{
  text-align: justify;
  font-size: xx-large;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.contacto{
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
  font-size: medium;
}
/*Estilos formulario contacto*/
.contact_form{	
  overflow: hidden;
	width: 100%; 
  height: auto;
  margin: 0 auto;
	border-radius: 10px;  	
	background-color: #fbfbfb; 
  padding:auto;
  text-align: center;
  align-items: center;
  background: #F7F7F7;
}

.input_form{
	background-color: #fbfbfb; 
	width: 60%; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #333; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  margin: 0 auto;
}
.textarea_form{
  background-color: #fbfbfb; 
	width: 70%; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #333; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
  margin: 0 auto;
  resize: none;
}
label{
  display: block; 
	float: center; 	
}
.button_formulario{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #333; 
	border-color: #333; 
	border-style: solid; 
	border-radius: 10px;	
	width: 60%;   
  cursor: pointer;
 line-height: 45px;
}
.button_formulario p{
	color: #fff; 
}
span{
	color: #333; 
}
.aviso{
	font-size: 13px;  
	color: #0e0e0e;  
}

.container__testimonials h1{ text-align: center;}

h1{
	font-size: 6vh;  
	text-align: left; 
	padding-bottom: 20px; 
	color: #333;
}


h3{
	font-size: 3vh; 
	padding-bottom: 30px;
	color: #0e0e0e;   
}


p{
	font-size: 14px; 
	color: #0e0e0e; 
}
::-webkit-input-placeholder {
 color: #a8a8a8;
}
::-webkit-textarea-placeholder {
 color: #a8a8a8;
}
.formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
}
.formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
}
/* Estilos del Menu */
.main-nav {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  
}
.menu {
  position: absolute;
  top: 80px;
  left: 0;
  background: #212121;
  width: 100%;
  list-style: none;
  padding: 0px;
  padding-right: 10px;
}
.menu__item {
  text-align: center;
  margin: 0 auto;
}
.menu__link {
  font-family: "Inconsolata";
  padding: 6px;
  color: white;
  text-decoration: none;
  position: relative;
  display: block;
  font-size: 1.15em;

}
.menu__link:hover {
  background: white;
  color: #212121;
}

.mostrar { 
  opacity: 1;
  visibility: visible;
}

.icon-menu {
  font-size: 1.5em;
  display: block;
  padding: 5px;
  cursor: pointer;
  margin-left: auto;
}
.main-header__btn{
  display: block;
  padding: 10px 30px;
  color: #454546;
  border: 1px solid #454546;
  text-decoration: none;
}

.main-header__btn:hover{
  color: white;
  background-color: #333;
}
.container{
margin: 0 auto;

margin-left: 10%;
margin-right: 10%;

}
.main {
  margin: 0 auto;


}
.cantidadCarrito{
  background-color: #333;
  color: white;
  text-align: center;
  font-size: larger;
}
/* ESTILOS DE SLIDER */
h1 {
  text-align: center;
}
#carrusel-caja {
  -moz-animation: automatizacion 15s infinite linear;
  -o-animation: automatizacion 15s infinite linear;
  -webkit-animation: automatizacion 15s infinite linear;
  animation: automatizacion 15s infinite linear;
  -webkit-transition: all 0.75s ease;
  -moz-transition: all 0.75s ease;
  -ms-transition: all 0.75s ease;
  -o-transition: all 0.75s ease;
  transition: all 0.75s ease;
  height: 450px;
  width: 300%;
}
#carrusel-contenido {
  margin: 0 auto;
  overflow: hidden;
  text-align: left;
}
.imagenes{
  height: 400px;
  width: 100%;
  object-fit: cover;
}
.carrusel-elemento {
  float: left;
  width: 33.333%;
}
@-moz-keyframes automatizacion {
  0% {
      margin-left: 0;
  }
  30% {
      margin-left: 0;
  }
  35% {
      margin-left: -100%;
  }
  65% {
      margin-left: -100%;
  }
  70% {
      margin-left: -200%;
  }
  95% {
      margin-left: -200%;
  }
  100% {
      margin-left: 0;
  }
}
@-webkit-keyframes automatizacion {
  0% {
      margin-left: 0;
  }
  30% {
      margin-left: 0;
  }
  35% {
      margin-left: -100%;
  }
  65% {
      margin-left: -100%;
  }
  70% {
      margin-left: -200%;
  }
  95% {
      margin-left: -200%;
  }
  100% {
      margin-left: 0;
  }
}
@keyframes automatizacion {
  0% {
      margin-left: 0;
  }
  30% {
      margin-left: 0;
  }
  35% {
      margin-left: -100%;
  }
  65% {
      margin-left: -100%;
  }
  70% {
      margin-left: -200%;
  }
  95% {
      margin-left: -200%;
  }
  100% {
      margin-left: 0;
  }
}

/* ESTILOS DE PRODUCTOS */
.container-products {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;

}
.product {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: center;
  position: relative;  
}
.product__description{
  margin:2vh;
}
.product:before {
  content: "New";
  background: #FF4E00;
  padding: 10px;
  width: 60px;
  position: absolute;
  top: 20px;
  right: -20px;
  transform: rotate(-90deg);
  color: white;
  z-index: 2;
}

.product__img{
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.product__title{
  text-align: center;
}
.product__price {
  color: #FF4E00;
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 10px;
}

.product a, .product a:hover, .product a:visited, .product a:active{
text-decoration: none;
font-size: 1.25em;
}

.container__testimonials{
  text-align: center;
  background: #F7F7F7;
  margin: 0 auto;
  margin-top: 10px; 
}
.section__title{
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
  
}
.testimonial__title{
margin: 0 auto;
text-align: center;
opacity: 0.8;
font-style: italic;

}
.testimonial__txt{
  color: #212121;
  font-size: larger;
  font-style: italic;
}
/*Estilos tienda*/
.centering {  
  border-left-style: solid;   
  border-left-width: 0px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; 

}
.articles {    
  top: 20px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 1200px;
  gap: 24px;

}

.articles article {
  max-width: 320px;
  cursor: pointer;
  position: relative;
  display: block;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  border-radius: 16px; 
  text-align: center;
  border: 1px solid #333;
  
 }

.articles article a { 
  display: inline-flex;
  text-decoration: none;
}

.articles article h2 { 
  margin: 0 0 18px 0;
  font-size: 1.6rem; 
  transition: color 0.3s ease-out;
}

.articles article img { 
  max-width: 100%;
  
}

.article-preview {
  padding: 5px 0;
}

.article-preview a{ 
  text-decoration: none;
  margin-top: 5%;
margin-bottom: 5%;}

.article-preview a:hover, .article-preview a:active,.article-preview a:visited{
  text-decoration: none;
}
.articles figure {
  width: 100%;
  height: 200px;
  overflow: hidden; 
}

.articles figure img {
  height: 100%;
  overflow: hidden;
  object-fit:fill;
}

.agregar{ color:#333}
.agregar:hover{background-color: #333; color: white;}
.agregar:visited,.agregar:active{color:#333}


/*Barra redes sociales */
.sticky-container{
  display: block;
  width: fit-content;
  text-align: center;
  
}
.sticky li{
  list-style-type:none;
  height:57px;
  padding:0;
 
  -webkit-transition:all 0.25s ease-in-out;
  -moz-transition:all 0.25s ease-in-out;
  -o-transition:all 0.25s ease-in-out;
  transition:all 0.25s ease-in-out;
  cursor:pointer;
  color:white;
  font-size: x-large;
  
  display: inline;
}
.sticky li:hover{
  margin-right:5px;
}

.sticky li .icon-facebook {background:#3b5998; padding: 5px;} /* Establecemos los colores de cada red social, aprovechando su class */
.sticky li .icon-twitter {background: #00abf0;padding: 5px;}
.sticky li .icon-pinterest {background: #ae181f;padding: 5px;}
.sticky li .icon-instagram {background:#E4405F ;padding: 5px;}
  
/*ESTILOS POP UP*/

.btn_pagar,
.modal_btn{ 
  background-color: #FF4E00;
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  text-decoration: none;
} 
.btn_pagar, .modal_btn a:hover{text-decoration: none;}
.btn_pagar, .modal_btn a:active{text-decoration:none;  background-color: #FF4E00;
  color: white;}
.btn_pagar, .modal_btn a:visited{text-decoration: none;}

.btn-news{
  background-color: #FF4E00;
  color: white;
  border-radius: 5px;
  padding: 10px;
  border: none;
  cursor: pointer;
  text-align: center;
  align-items: center;
}
.btn-login{
  color:#333;
  padding: 10px;
  display: inline-block;
  border: none;
  cursor: pointer;
}
.btn-abrir{
  color:#333;
  padding: 10px;
  display: inline-block;
  border: none;
  cursor: pointer;
}
.btn-abrir:hover{
  background-color:#333;
  color: white;
  padding: 10px;
  display: inline-block;
  border: none;
  cursor: pointer;
}

  .pop-up{
    background: rgba(48, 48, 48, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    min-height: 100%;
  }
  

  .pop-up-wrap{
    display: flex;
    align-items: center;
    width: 90%;    
    max-width: 950px;
    transform: scale(0.6);
    opacity: 0;
    transition: .3s ease all;
    
  }
.modal_carrito, .modal_news, .modal_login, .mensaje_contacto{
  display: none;
}
.mensaje_añadir,.mensaje_eliminar,.mensaje_subscripcion{
  display: none;
}
.subcription::before{
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);
  z-index: -1;

}
.subcription{
  background-color: #fff;
    flex-basis: 0;
    flex-grow: 2;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;
    
  
  }
.modal_news__input{width: auto;}
.sub-content{
  width: 100%;
  margin: 0 auto;
  gap:50px;
}

#close{
  position: absolute;
  top: 40px;
  right: 25px;
  font-size: 25px;
  color: #1bc59b;
  cursor: pointer;
}

.pop-up.show{
  visibility: visible;
}
.pop-up-wrap.show{
  transform: scale(1);
  opacity: 1;
  display: block;
  margin: 0 auto;
  position: absolute;
 }

.mensaje_añadir.show, .mensaje_subscripcion.show {
  align-items: center;
  background-color: #1bc59b;
  display: block;
  text-align: center;
  justify-content: center;
  padding: 5px;
  width: fit-content;
  border: lightseagreen 2px dotted;
}
.mensaje_eliminar.show
{
  align-items: center;
  background-color: lightcoral;
  display: block;
  text-align: center;
  justify-content: center;
  padding: 5px;
  width: fit-content;
  border: 2px dotted crimson;
}


.modal_news.show,
.modal_login.show,
.mensaje_contacto.show
 {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
  padding-block-start: 50px;
  padding-block-end: 50px;
  top:500px;
}

.modal_carrito.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
  padding-block-start: 50px;
  padding-block-end: 50px;
 }
.modal-title { text-align: center;}
.modal-title::after{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100px;
}

.modal-title::before{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.3);

}





@media screen and (max-width: 320px){
  .sub-content h3{
    font-size: 30px;
}
.sub-content{
  display: block;
  min-width: 302px;
}

  .centering{margin: auto;}
  .main {
    padding: 0;
    margin:0 auto;
   
  }
  .container{
    min-width: 100%;
    margin: 0 auto;
  }

  .contact_form{width: 50%;	}
  .input_form{width: 50%;}
  .button_formulario{width: 50%;}
.modal_btn h1{font-size: -1em;}
.main-header__container{
  margin-bottom: 15px;  
 }
 .container-products {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}
 .logo{
  object-fit: cover;
  width: 20%;
  height: 20%;  
  margin: 0 auto;
}
}
  @media screen and (min-width:480px) {
    .centering{margin: auto;}
  .main {
    padding: 0;
    margin:auto;
    margin-top: 30px;
  }
  
  .container{
    width: 100%;
    margin: 0 auto;
  }
  .contact_form{width: 50%;	}
  .input_form{width: 50%;}
  .button_formulario{width: 50%;}
  .main-header__container{
    margin-bottom: 15px;
   }
   .logo{
    object-fit: cover;
    width: 30%;
    height: 30%;  
    margin: 0 auto;
  }
  }
/*Estilos para tablet*/
@media screen and (min-width:768px) {
  .container{
    width: 100%;
    margin: 0 auto;
  }
  .slider{
    height: 400px;
   }
   .main-header__container{
    flex-wrap: wrap;
    align-content: space-around;
    
  }

  .logo{
    object-fit: cover;
    width: 30%;
    height: 30%;  
    margin: 0 auto;
  }
  .container-products {

    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}
/*Estilos para web*/

@media screen and (min-width:1024px) { 
  .container{
    width: 1000px;
    margin: 0 auto;
  }
  .icon-menu {
    display: none;
  }
  .main-header .container--flex{
    display: flex;
    align-items: center;
  }
  .main-header__container{
    flex-wrap: wrap;
    align-content: space-around;
    
  }
  .main-header__txt{
    width: 100%;
  }
  .main-header__container:nth-child(2){
    order: -1;
    width: 25%;
  }
  .main-header__container:nth-child(3){
    width: 25%;
 
  }
  .main-header__title {
    width: 100%;
    font-size: 4em;
    margin: 0 auto;
    border-bottom: 1px solid #ccc;
  }
  .main-header__link {
    margin-bottom: 20px;
  }
  .main-header__btn{
    width: 130px;
    padding: 10px;
    margin-bottom: 20px;
  }
  .main-header__input{
    width: 85%;
    background-color: white;
  }
  .main-nav{
    visibility: visible;
    opacity: 1;
    width: 100%;
    margin-top: 20px;
  }
  .menu {
    position: static;
    width: 100%;
    display: flex;
    background: none;

  }
  .menu__link{
    color: #333;
  }
  .menu__link:hover{
    background: #333;
    color: white;
  }
  .container-products {

    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
  .product__img {
    height: 150px;
  }
  .container__testimonials{
    font-size: 1.3em; 
  }
  .logo{
    object-fit: cover;
    width: 50%;
    height: 50%;  
    margin: 0 auto;
  }
}

@media screen and (min-width:1280px) { 
  .container{
    width: 1200px;
  }

  .main-header__container:nth-child(2){
    font-size: 1em;
  }
  .slider{
    height: 500px;
    font-size: 1.5em;
  }
}

@media screen and (min-width:1600px) { 
  .container{
    width: 1500px;
  }

  .main-header__container:nth-child(2){
    font-size: 1.5em;
  }
  .slider{
    height: 600px;
  }
  .product__img {
    height: 200px;
  }
}
