
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/estilosGestion.css' %}"rel="stylesheet" type="text/css">
    <link href="{% static 'css/estilosTienda.css' %}"rel="stylesheet" type="text/css">
    <script src="{% static 'js/funciones.js' %}" defer></script>
    <script src="https://kit.fontawesome.com/97b8a9d55c.js" crossorigin="anonymous"></script>  
    
</head>
<body>
    <header class="main-header">
      <div class="container container--flex">
          <div class="main-header__container">
            <h1 class="main-header__title">Gestión interna</h1>
            <span class="icon-menu" id="btn-menu"><i class="fas fa-bars"></i></span>
            <nav class="main-nav" id="main-nav">
              <ul class="menu">
              
                <li class="menu__item"><a href="{% url 'verSubscripcion' %}" class="menu__link">Subscripciones</a></li>
                <li class="menu__item"><a href="{% url 'verProducto' %}" class="menu__link">Productos</a></li>
                <li class="menu__item"><a href="{% url 'verCliente' %}" class="menu__link">Clientes</a></li>
                <li class="menu__item"><a href="{% url 'verPedido' %}" class="menu__link">Pedidos</a></li>
                <li class="menu__item"><a href="{% url 'verEmpleado' %}" class="menu__link">Empleados</a></li>
                <li class="menu__item"><a href="{% url 'verDepartamento' %}" class="menu__link">Departamentos</a></li>
                <li class="menu__item"><a href="{% url 'inicio' %}" class="menu__link">Tienda</a></li>
              </ul>
            </nav>             
          </div>
          <div class="main-header__container">        
         </div>
         <div class="main-header__container">
            
         </div>
      </div>
    </header>
     
      <main class="main">
           <div class="container">
              {% block content %}{% endblock %}
           </div>
      </main>

</body>
</html>