{% extends 'baseTienda.html' %}
{% load static %}

    <title>{% block title %}Mi carrito{% endblock %}</title>

{% block content %}
<section class="container__testimonials">
	<div class="mensaje_añadir">
		Producto añadido con éxito!
	</div>
	<div class="mensaje_eliminar">
		Producto eliminado con éxito!
	</div>
	<div class="container-carrito">
		<table class="content-table"> 
			<thead> 
			<tr> 
				<th>Cantidad</th> 
				<th>Producto</th> 
				<th>Precio</th> 
				<th>Subtotal</th> 		
				<th></th> 
			</tr> 
			</thead> 
			<tbody> 
		{% if request.session.carrito.items %}
		{% for key,value in request.session.carrito.items %}
				<tr class="table-info">           
					<td><span class="cantidad-producto-carrito">{{value.cantidad}}</span></td> 
					<td><span class="titulo-producto-carrito">{{value.nombre}}</span></td>
					<td><span class="precio-producto-carrito">{{value.precio}}€</span></td> 
					<td><span class="subtotal-producto-carrito">{{value.subtotal}}€ </span></td> 
					<td>
						<a class="btn-agregar carrito-botones" href="{% url 'agregarcarrito' key %}" title="Añadir producto"><i class="fa-solid fa-square-plus"></i></a>
						<a class="btn-eliminar carrito-botones" href="{% url 'sacar' key %}" title="Quitar producto"><i class="fa-solid fa-square-minus"></i></a>
					</td>	
				</tr> 
		{% endfor %}
		{% else %}
				<tr class="table-info">  
					<td colspan="5">
						<h2>No hay Productos Seleccionados</h2>
					</td>
				</tr>
		{% endif %}
				<tr class="table-info"> 
					<td colspan="4" class="total-pagar">
						<h3>Total: {{total_carrito}} €</h3>
					</td>	
					<td colspan="1">
						<a class="carrito-botones" href="{% url 'limpiar' %}" title="Borrar Carrito">
						<i class="fa-solid fa-trash-can fa-xl"></i></a>
					</td>		
				</tr>
			</tbody> 
		</table>
	</div>
	<div class="table">
	{% if request.session.carrito.items %}
	{% for key,value in request.session.carrito.items %}
	    <div class="item">      
    	    <div class="row">
        	    <div class="tbody">{{value.cantidad}}</div>
        	</div>
        	<div class="row">
            	<div class="tbody">{{value.nombre}}</div>
        	</div>
        	<div class="row">
	            <div class="tbody">{{value.precio}}€</div>
        	</div>
			<div class="row">
	            <div class="tbody">{{value.subtotal}}€ </div>
        	</div>
			<div class="row">
				<a class="btn-agregar carrito-botones" href="{% url 'agregarcarrito' key %}" title="Añadir producto"><i class="fa-solid fa-square-plus"></i></a>
				<a class="btn-eliminar carrito-botones" href="{% url 'sacar' key %}" title="Quitar producto"><i class="fa-solid fa-square-minus"></i></a>
			</div>
	{% endfor %}
	{% else %}
			<div class="row">
				<div class="tbody"><h2>No hay Productos Seleccionados</h2></div>
			</div>
	{% endif %}
			<div class="row">
				<div class="tbody"><h3>Total: {{total_carrito}} €</h3></div>
			</div>	
			<div class="row">
				<a class="carrito-botones" href="{% url 'limpiar' %}" title="Borrar Carrito">
				<i class="fa-solid fa-trash-can fa-2xl"></i></a>
			</div>	
		</div>
	</div>
	<div class="centrado">
		<div class="paypal">		
			<div id="paypal-button-container"></div>
				<script>
					paypal.Buttons({
						createOrder: function(data, actions) {
							return actions.order.create({
							purchase_units: [{
							amount: {
								value: '{{total_carrito}}'
									}
									}]
								});
							},
						}).render('#paypal-button-container');
				</script>
			</div>			
		</div>
	</div>
</section>  

{% endblock %}