{% extends 'baseTienda.html' %}
{% load static %}

    <title>{% block title %}Mi carrito{% endblock %}</title>

{% block content %}

<div class="contenedor-carrito">	
	<div class="mensaje_añadir">
		Producto añadido con éxito!
	</div>
	<div class="mensaje_eliminar">
		Producto eliminado con éxito!
	</div>
<table class="content-table"> 
	<thead> 
	<tr> 
		<th>Cantidad</th> 
		<th>Producto</th> 
		<th>Precio</th> 
		<th>Subtotal</th> 
		<th><a class="carrito-botones" href="{% url 'limpiar' %}" title="Borrar Carrito">
			<i class="fa-solid fa-trash-can"></i></a></th>
	</tr> 
	</thead> 
	<tbody> 
		{% if request.session.carrito.items %}
		{% for key,value in request.session.carrito.items %}
		<tr>            
			<td><span class="cantidad-producto-carrito">{{value.cantidad}}</span></td> 
			<td><span class="titulo-producto-carrito">{{value.nombre}}</span></td>
			<td><span class="precio-producto-carrito">{{value.precio}}€</span></td> 
			<td><span class="subtotal-producto-carrito">{{value.subtotal}}€ </span></td> 
			<td>
				<a class="btn-agregar carrito-botones" href="{% url 'agregarcarrito' key %}" title="Añadir producto"><i class="fa-solid fa-square-plus"></i></a>
				<a class="btn-eliminar carrito-botones" href="{% url 'sacar' key %}" title="Quitar producto"><i class="fa-solid fa-square-minus"></i></a>
			</td>	
		</tr> 
		{% endfor %}
		{% else %}
		<tr>
			<td colspan="5">
				<h2>No hay Productos Seleccionados</h2>
			</td>
		{% endif %}
		<tr>
			<td colspan="5" class="total-pagar">
				<h3>Total: {{total_carrito}} €</h3>
			</td>			
		</tr>
		<tr>
			<td class="paypal" colspan="5" rowspan="5">		
				<div id="paypal-button-container"></div>
					<script>
						paypal.Buttons({
							createOrder: function(data, actions) {
								return actions.order.create({
                            	purchase_units: [{
                                amount: {
                                	value: '{{total_carrito}}'
                                		}
                            			}]
                        			});
                    			},
							}).render('#paypal-button-container');
					</script>
				</div>
			</td>
		</tr>
	</tbody> 
</table>
</div>
{% endblock %}