{% extends 'baseTienda.html' %}
{% load static %}

    <title>{% block title %}Nosotros{% endblock %}</title>
{% block content %}
          
          <section class="container__testimonials">
            <div>
                <h1>¡Bienvenido a <span>My Pet Shop</span>!</h1>
                <p  class="nosotros">
    
Nuestro objetivo es ofrecer a nuestros clientes las últimas novedades en productos para mascotas. Contamos con gran experiencia, por lo que sabemos exactamente qué necesitas al ofrecerte productos de alta calidad y a precios accesibles. Ofrecemos todo esto mientras brindamos un excelente servicio al cliente y un trato amable.
<br><br>
Siempre vigilamos las mejores tendencias en los productos para nuestros peludos amigos y ponemos en primer lugar los deseos de nuestros clientes. Es por eso que tenemos clientes satisfechos en todo el mundo y estamos encantados de ser parte de la vida de vuestras mascotas.
<br><br>
Los intereses de nuestros clientes son siempre la máxima prioridad para nosotros, por lo que esperamos que disfrutes de nuestros productos tanto como nosotros disfrutamos poniéndolos a tu disposición.

          </p>
             </div>   
              
          </section>    
       
      
      {% endblock %}