{% extends 'baseGestion.html' %}
{% load static %}
<title>{% block title %}Clientes{% endblock %}</title>

{% block content %}

<div class="container-tabla">
    <table class="content-table">
        <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Localidad</th>
                        <th>V. Asignado</th>
                        <th>Debe</th>
                        <th>Haber</th>
                        <th>Crédito</th>
                        <th>Operaciones</th>
                   </tr>
                </thead>
                <tbody>
                    {% for c in clientes %}
                    <tr class="table-info">
                        <td>{{c.cliente_no}}</td>
                        <td>{{c.nombre}}</td>
                        <td>{{c.localidad}}</td>
                        <td>{{c.vendedor_no}}</td>
                        <td>{{c.debe}}</td>
                        <td>{{c.haber}}</td>
                        <td>{{c.limite_credito}}</td>
                        <td><a class="link_accion" href="">Eliminar</a></td>
                        <td><a class="link_accion" href="">Editar</a></td>
                    {% endfor%}
                    </tr>
                </tbody>
            </table>
        </div>      
        <div class="table">
            {% for c in clientes %}
            <div class="item">
              
                <div class="row">
                    <div class="thead">ID</div>
                    <div class="tbody">{{c.cliente_no}}</div>
                </div>
                <div class="row">
                    <div class="thead">Nombre</div>
                    <div class="tbody">{{c.nombre}}</div>
                </div>
                <div class="row">
                    <div class="thead">Localidad</div>
                    <div class="tbody">{{c.localidad}}</div>
                </div>
                <div class="row">
                    <div class="thead">V. Asignado</div>
                    <div class="tbody">{{c.vendedor_no}}</div>
                </div>
                <div class="row">
                    <div class="thead">Debe</div>
                    <div class="tbody">{{c.debe}}</div>
                </div>
                <div class="row">
                    <div class="thead">Haber</div>
                    <div class="tbody">{{c.haber}}</div>
                </div>          
                <div class="row">
                    <div class="thead">Limite Crédito</div>
                    <div class="tbody">{{c.limite_credito}}</div>
                </div>                  
            </div>
            {% endfor%}
        </div>
  {% endblock %}