{% extends 'baseGestion.html' %}
{% load static %}
<title>{% block title %}Departamentos{% endblock %}</title>

{% block content %}
<div class="container-tabla">
  <table class="content-table">
      <thead>
                  <tr>
                      <th>ID</th>
                      <th>Nombre</th>
                      <th>Localidad</th>
                      <th colspan="3">Operaciones</th>
                 </tr>
              </thead>
              <tbody>
                  {% for c in respuesta %}
                  <tr class="table-info">
                      <td>{{c.id}}</td>
                      <td>{{c.nombre}}</td>
                      <td>{{c.localidad}}</td>
                      <td>
                       
                      </td>
                      <td>
                          <a class="link_accion" href="{% url 'eliminarDepartamento' c.id %}">Eliminar</a>
                      </td>
                      <td>
                          <a class="link_accion" href="{% url 'editarDepartamento' c.id %}">Editar</a>
                      </td>
                  {% endfor%}
                  </tr>
              </tbody>
          </table>
      </div>      
      <div class="container-botonera">
          <a href="{% url 'insertarDepartamento' %}" class="nav-menu-link nav-link" alt="Nuevo registro">Añadir registro</a>
          <a href="#" class="nav-menu-link nav-link" alt="Descargar listado">Descargar listado</a>
      </div>
      <div class="table">
          {% for c in respuesta %}
          <div class="item">
            
              <div class="row">
                  <div class="thead">ID</div>
                  <div class="tbody">{{c.id}}</div>
              </div>
              <div class="row">
                  <div class="thead">Nombre</div>
                  <div class="tbody">{{c.nombre}}</div>
              </div>
              <div class="row">
                  <div class="thead">Localidad</div>
                  <div class="tbody">{{c.localidad}}</div>
              </div>
           
          </div>
          {% endfor%}
      </div>
  {% endblock %}