{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Detalles</title>
    <link href="{% static 'css/estilosGestion.css' %}"rel="stylesheet" type="text/css">
    <script src="{% static 'js/funciones.js' %}"></script>
</head>
<body>

<div class="detallesEmpleado">
    <div class="container-detalle">
        <table class="content-detalle">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Apellido</th>
                    <th>Salario</th>
                    <th>Comision</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{object.id}}</td>
                    <td>{{object.apellido}}</td>
                    <td>{{object.salario}}</td>                  
                    <td>{{object.comision}}</td>                  
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>

  
</body>
</html>