{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Detalles</title>
    <link href="{% static 'css/estilosGestion.css' %}"rel="stylesheet" type="text/css">
    <script src="{% static 'js/funciones.js' %}"></script>
</head>
<body>

<div class="detallesProducto">
    <div class="container-detalle">
    <table class="content-detalle">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{object.id}}</td>
        <td>{{object.nombre}}</td>
        <td>{{object.precio}}</td>                  
    </tr>
    </tbody>
    </table>
    <img class="img_producto"src="{% static 'images/' %}{{object.imagen}}"  alt="">
</div>
</body>
</html>