{% extends 'baseGestion.html' %}
{% load static %}
<title>{% block title %}Insertar {{opcion}}{% endblock %}</title>
{% block content %}
<div class="cont_formulario">
  <form method="post" class="input100 validate-input">{% csrf_token %}
      <div class="input100 validate-input">
          {{ form.as_p }}
          <span class="focus-input100"></span>
      </div>
  </form>
  <div class="contenido-form-btn">
      <button class="cont_formulario-btn">
          Guardar
      </button>
  </div>  
</div>
  {% endblock %}