{% extends 'baseGestion.html' %}
{% load static %}
<title>{% block title %}Productos{% endblock %}</title>

{% block content %}

       <div class="listado-tabla">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <td>Nº Producto</td>
                        <td>Imagen</td>
                        <td>Nombre</td>
                        <td>Precio</td>
                        <td colspan="3">Operaciones</td>
                    </tr>
                </thead>
                <tbody>
                    {% for c in productos %}
                    <tr class="table-info">
                        <td>{{c.id}}</td>
                        <td>{{c.imagen}}</td>
                        <td>{{c.nombre}}</td>
                        <td>{{c.precio}}</td>
                        <td>
                             <a class="link_accion" href="javascript:ventanaSecundaria('../productoDetalle/{{c.id}}')"> + Info</a>
                            </td>
                        <td><a class="link_accion" href="{% url 'eliminarProducto' c.id %}">Eliminar</a></td>
                        <td><a class="link_accion" href="{% url 'editarProducto' c.id %}">Editar</a></td>
                    {% endfor%}
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container-botonera">
            <a href="{% url 'cargaForm' %}" class="nav-menu-link nav-link" alt="Nuevo registro">Nuevo Producto</a>
        </div>
  {% endblock %}